{% extends index.html" %} 
{% block nav %} 
{% for category in categories %}
<li class="menu__item menu__item--main toCardPage" id="{{category.id}}">
  <a
    class="menu__link menu__link--main"
    href="{% url 'selected_category' category.category %}"
    ><i class="{{category.category_icon}}"></i> {{ category.category }}</a
  >
</li>
{%endfor%} 
{% endblock %} 
{% block content %}
<form class='login__form' method="post">
  {% csrf_token %} {{form.as_p}}
  <button type="submit" class="btn btn_submit">Submit</button>
</form>
{% endblock %}
