.game_result_container {
  max-width: min(85vw, 1200px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  margin-bottom: calc(100vh - 780px);
}

.game_result {
  background-color: $grey;
  perspective: 1000px;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: min(85vw, 1200px);
  border-radius: 20px;

  &__figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }

  &__img {
    height: 400px;
    border-radius: 20px;
    @media all and (max-width: 700px) {
      height: 300px;
    }
  }

  &__capture {
    text-align: center;
    margin: 40px;
    font-family: $wellwait;
    font-size: 40px;
    color: $darkblue;
    @media all and (max-width: 700px) {
      font-size: 20px;
      margin: 20px;
    }
    &_errors {
      &--hidden {
        display: none;
      }
    }
  }
}
