.rotate-controls {
  position: relative;
  left: 128px;
  bottom: 30px;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  .gameMode & {
    display: none;
  }

  &__play-toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: $orange;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;

    .rotate-icon {
      position: relative;
      color: $white;
      font-size: 30px;
    }
  }
}
