.start_line {
  display: flex;
  transition: all 0.5s ease-in-out;
  position: fixed;
  right: 0px;
  transform: translateX(70px);
  top: 50vh;
  flex-wrap: nowrap;
  visibility: hidden;
  @media screen and (max-width: 600px) {
    top: 20vh;
  }
  .gameMode & {
    transform: translateX(-45px);
    visibility: visible;
    @media screen and (max-width: 600px) {
      transform: translateX(-35px);
    }
  }
}

.tooltiptext {
  display: none;
}

.category_page.gameMode {
  .start_line {
    cursor: default;

    &:active {
      pointer-events: none;
    }
  }
  & .tooltiptext {
    display: inline;
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: $darkblue;
    font-family: $balsamiq;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }

  & .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $white transparent transparent transparent;
  }

  & .start_line:hover .tooltiptext {
    visibility: visible;
  }
}

.icon_start {
  font-size: 30px;
  color: $orange;
  display: inline-block;
  margin-bottom: 30px;
  background: $white;
  padding: 18px 23px 15px 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
  transform-style: preserve-3d;
  @media screen and (max-width: 600px) {
    font-size: 20px;
    padding: 13px 13px 13px 17px;
  }
  &:hover {
    -webkit-box-shadow: 0px 0px 10px 5px $darkblue;
    -moz-box-shadow: 0px 0px 10px 5px $darkblue;
    box-shadow: 5px 5px 10px 5px $darkblue;
    transform: translateY(-20px);
  }

  &--hidden {
    display: none;
  }
}

.icon_repeat {
  font-size: 30px;
  color: $orange;
  display: inline-block;
  margin-bottom: 30px;
  background: $white;
  padding: 18px 19px 15px 21px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
  transform-style: preserve-3d;
  @media screen and (max-width: 600px) {
    font-size: 20px;
    padding: 15px 13px 12px 17px;
  }
  &:hover {
    -webkit-box-shadow: 0px 0px 10px 5px $darkblue;
    -moz-box-shadow: 0px 0px 10px 5px $darkblue;
    box-shadow: 5px 5px 10px 5px $darkblue;
    transform: translateY(-20px);
  }

  &--hidden {
    display: none;
  }
}
